body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
   
}

.quiz-container {
    width: 400px;
    height: 550px;
    margin: 60px auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 8px;
    color: white;

    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

h1 {
    color: #333;
    font-size: 35px;
}

.question {
    margin: 20px 0;
    /* font-size: 23px; */
}
img{
  width: 50px;
  height:70px
}
.card-content>p{
  color:rgb(250, 250, 154);
  margin-top: -20px;
  /* font-size: 20px; */
}

#answers label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
   width:160px;
   height:25px;
   font-size: 22px;
   
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    /* cursor: pointer; */
    width:170px;
    
    height:45px;
    font-size: 20px;
  
}

button:hover {
    background-color: #0056b3;
}

#score {
    font-weight: bold;
    margin: 20px 0;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}


#restart-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

#restart-btn:hover {
    background-color: #0a2b0c;
}
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
   
  }

  .quiz-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }

  .quiz-container:hover:before {
    transform: translateX(-100%);
  } 

  @media (max-width: 500px) {
    .quiz-container {
        width:220px;
        height:500px;
      
    }

    .card-content{
      height: 100%;
     }
     #answers{
    margin-top: -35px;
     }
     #question-text{
      margin-top: -10px;
     }
.card-content>p{
  font-size: 15px;
}
}







